:root {
  --color-black: #000;
  --color-white: #fff;
  --color-green: #00b800;
  --color-light-green: #e2ffcf;
  --color-white-secondary: #dcfafe;
  --color-yellow: #fdf9b0;
  --color-light-purple: #d1dbfa;
  --color-orange: #ffdb8a;
  --color-purple: #cb6ce680;
  --color-blue: #0092ff4d;
  --color-red: #aa1531;
  --color-gray: #313131;
  --color-orange-secondary: #ffd7c5;
}
